- name: Manage systemd service
  hosts: all
  gather_facts: false
  become: yes
  vars:
    service_name: "my-service"
    service_state: "restarted"
    enabled: "true"
    ansible_python_interpreter: "{{ python | default('/usr/bin/python3') }}"

  tasks:
    - name: Ensure service state
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: "{{ service_state }}"
        enabled: "{{ enabled | default('true') | bool }}"
